<form method='post' action='<%= architect_path(@architect.id) %>'>
  Name:
  <input type='text' name='architect[name]' value="<%= @architect.name %>" autofocus>
  <br>
  <button>Update Architect</button>
</form>
