<form method='post' action='/architects'>
  First Name:
  <input type='text' name='architect[first_name]' autofocus>
  <br>
  Middle Name:
  <input type='text' name='architect[mid_name]'>
  <br>
  Last Name:
  <input type='text' name='architect[last_name]'>
  <br>
  <button>Insert Architect</button>
</form>
