<form method='post' action='/buildings'>
  Name:
  <input type='text' name='building[name]' autofocus>
  <br>
  Style:
  <input type='text' name='building[style]'>
  <br>
  Height:
  <input type='text' name='building[height]'>
  <br>
  Floors:
  <input type='text' name='building[floors]'>
  <br>
   Street Address:
  <input type='text' name='building[street]'>
  <br>
  Y-Coordinate:
  <input type='text' name='building[y_coord]'>
  <br>
  X-Coordinate:
  <input type='text' name='building[x_coord]'>
  <br>
  <button>Insert Building</button>
</form>
