<div id="buildings_main">

    <% x = 1 %>
    <% @buildings.each do |building| %>
        <a href="/views/show_building/<%= building.id %>" >

          <div class="building_card" style="background:url(<%= building.img %>);">

            <h2>
                <%= building.name %>
            </h2>

          </div>
        </a>

        <% if x%4 == 0 %>
            <div class="clear"></div>
        <% end %>
        <% x+=1 %>

    <% end %>

</div>
