<%= link_to "Login via Twitter", "/auth/twitter" %>
<nav id="topNav">
      <ul>
          <li><a href="#" title="Nav_Cities">Cities</a>
              <ul>

                  <li><a href="#">All Cities</a></li>
                  <li><a href="#">Add City</a></li>

              </ul>
          </li>
          <li><a href="#" title="Nav_Buildings">Buildings</a>
              <ul>
                  <li><a href="#">Browse Buildings</a></li>
                  <li><a href="#">Add Building</a></li>
                  <li><a href="#">Top Ten</a></li>
              </ul>
          </li>
          <li><a href="#" title="Nav_Architects">Architects</a>
              <ul>
                  <li><a href="#">Browse Architects</a></li>
                  <li><a href="#">Add Architect</a></li>
              </ul>
          </li>
          <li><a href="#" tile="Nav_Styles">Styles</a>
            <ul>
              <li><a href="#">Browse Styles</a></li>
            </ul>
          </li>
          <li><a href="#" tile="Nav_Users">Profile</a>
            <ul>
              <li><a href="#">Login</a></li>
            </ul>
          </li>
      </ul>
</nav>

<script>
      (function($){

        //cache nav
        var nav = $("#topNav");

        //add indicator and hovers to submenu parents
        nav.find("li").each(function() {
          if ($(this).find("ul").length > 0) {
            $("<span>").text("^").appendTo($(this).children(":first"));

            //show subnav on hover
            $(this).mouseenter(function() {
              $(this).find("ul").stop(true, true).slideDown();
            });

            //hide submenus on exit
            $(this).mouseleave(function() {
              $(this).find("ul").stop(true, true).slideUp();
            });
          }
        });
      })(jQuery);
</script>

<div id="map"></map>
