<form method='post' action='/cities'>
  Name:
  <input type='text' name='city[name]' autofocus>
  <br>
  State:
  <input type='text' name='city[state]'>
  <br>
  Country:
  <input type='text' name='city[country]'>
  <br>
  Y-Coordinate:
  <input type='text' name='city[y_coord]'>
  <br>
  X-Coordinate:
  <input type='text' name='city[x_coord]'>
  <br>
  <button>Insert City</button>
</form>
