// Place all the styles related to the buildings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#buildings_main {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.building_card {
  width: 23%;
  height: 400px;
  float:left;
  margin: 5px;
  color: black;
  border: 2px solid black;
}

.building_card h2 {
  font-family: inconsolata;
  text-align: center;
  color: white;
  background: black;
}

.clear {
  clear:both;
}

a:hover {
  opacity:1;
}
